@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif !important;
  min-height: 100vh;
}

/*ADMIN SIDEBAR*/

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/*MENU BAR*/
li .active {
  color: #ff6f61 !important;
}

/*EXPLORE MENU*/
.explore-menu-list::-webkit-scrollbar {
  display: none;
}

.explore-menu-list {
  display: none;
}

.explore-menu-list-item img {
  cursor: pointer;
}

.explore-menu-list-item .active {
  border: 5px solid #ff6f61;
  padding: 2px;
}

.explore-menu-list-item p {
  color: #747474;
  cursor: pointer;
}

.scroll-icon {
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 10px;
  color: #747474;
  transition: color 0.2s;
}

.scroll-icon:hover {
  color: #ff6f61;
}

.explore-menu hr {
  margin: 10px 0px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

.explore-menu-list-item .active {
  border: 4px solid #ff6f61;
  padding: 2px;
}

/*CONTACT FORM*/
.contact-form {
  background-color: #f8f9fa;
  border-radius: 20px;
}

.custom-input {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #e9ecef;
}

/*Cart Component*/
.cart-item img {
  max-width: 100px;
  height: auto;
}

.quantity-input {
  width: 50px;
}

.cart-summary {
  background-color: #f8f9fa;
  border-radius: 10px;
}

.cart-item hr {
  margin-top: 10px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

/*LOGIN AND REGISTER PAGES*/

.login-container,
.register-container {
  background-image: url("./assets/bg-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 64px);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
